{% extends "base" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>
<p>I'm Thomas, a Database Analyst and part-time student at the University of Alberta.
At work I build data analytics software. At school I study computing science and mathematics.</p>
<p>In the past I worked as a research assistant under the supervision of Dr. Sheny Khera;
our project studied how web-form design can reduce administrative burden for academic physicians.</p>
{% endblock %}
